.press-releases {
    border: 1px solid black;


    a {
        display: block;
        margin-bottom: 1.2em;
    }

    & > div {
        display: flex;
        flex-direction: row;

        div:first-child {
            width: 30%;
        }
    }
}